.save-profile-button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .save-profile-button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    transform: scale(1.05);
  }
  
  .save-profile-button:active {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }