/* Container */
.columns.edit {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (top) */
    min-height: 100vh;
    padding: 20px;
  }
  
  .column.is-half {
    max-width: 800px;
    width: 100%;
  }
  
  .box {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px; /* Adjust this value to move the container up or down */
  }
  
  /* Close icon */
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .close-icon:hover {
    color: #d32f45;
  }
  
  /* Form title */
  .edituser h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form fields */
  .field {
    margin-bottom: 1.5rem;
  }
  
  .label {
    font-size: 1.1em;
    color: #333;
  }
  
  .input {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    border-color: #3273dc;
    outline: none;
  }
  
  /* Update button */
  .button.is-success {
    background-color: #48c774;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .button.is-success:hover {
    background-color: #3eb85c;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .column.is-half {
      max-width: 100%;
      width: 100%;
    }
  
    .label {
      font-size: 1em;
    }
  
    .input {
      font-size: 0.9em;
    }
  
    .button.is-success {
      font-size: 0.9em;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .label {
      font-size: 0.9em;
    }
  
    .input {
      font-size: 0.8em;
    }
  
    .button.is-success {
      font-size: 0.8em;
      padding: 6px 12px;
    }
  }